*{
    margin: 0%;
}

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.imageErreur{
    width: 20%;
    height: auto;
}

.btnPageErreur{
    padding: 0 10px;
    height: 40px;
    margin-top: 30px;
    background-color: #4fb97f;
    color: #fff;
    border: none;
    outline: none;
    transition: all 0.5s ease-out;
    cursor: pointer;
    border-radius: 50px; /* Coins arrondis pour le menu */
}

.btnPageErreur:hover,.btnPageErreur:focus{
    background-color: #fdb024;
    color: #fff;
}
