* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.foot {
  height: auto;
  background-color: #00804b;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.foot-container {
  margin: 0%;
  padding: 0%;
  width: 100%;
  display: flex; /* Utiliser flex pour centrer */
  flex-direction: column;
  align-items: center; /* Centre verticalement */
}

/* Section Contacts */
.foot1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  padding: 20px;
}

.ctcSection{
  width: 30%;
}

.ctcSection h2 {
  margin-bottom: 20px;
}

.ctcSection p {
  font-size: 16px;
  margin-bottom: 8px;
}

.mailien {
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 16px;
  margin-bottom: 8px;
}

.mailien:hover {
  color: #fdb024;
}

.socialSection {
  width: 30%;
}

.socialSection h2 {
  margin-bottom: 10px;
}

.socialIcons {
  display: flex;
  gap: 15px;
}

.socialIcon {
  color: #fdb024; /* Jaune */
  text-decoration: none;
}

.socialIcon:hover {
  color: white;
}

.iconeFoot{
  font-size: 50px;
}

.cmtSection {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cmtMail {
  width: 90%;
  padding: 0 20px;
  height: 30px;
  font-size: 16px;
  resize: none;
  outline: none;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.448);
}

.cmtFoot {
  width: 90%;
  padding: 0 20px;
  font-size: 16px;
  resize: none;
  outline: none;
  border: none;
  height: 80px;
  color: white;
  background-color: rgba(0, 0, 0, 0.448);
}

.btnCmtFoot {
  width: 100px;
  padding: 5px;
  text-align: center;
}

.btnCmtFoot:hover {
  background-color: #ffd700;
}

/* Liste de raccourcis */
.foot2 {
  width: 100%;
  height: auto;
  padding: 10px 20px;
  background-color: #4fb97f;
}

.ulLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  text-align: center;
  list-style: none;
}

.liLinks {
  display: inline;
}

.listeLinks {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.listeLinks:hover {
  color: #00804b;
}

/* Section Copyright */
.foot3 {
  width: 100%;
  height: auto;
  padding:20px;
  text-align: center;
}

.copyright {
  font-size: 14px;
}

/* Styles pour les écrans de moins de 768px */
/* Responsivité */
@media (max-width: 767px) {
  .foot-container {
    flex-direction: column;
    align-items: center;
  }

  .foot1,
  .foot2 {
    width: 100%;
    text-align: center;
  }

  .cmtMail,
  .cmtFoot {
    width: 100%;
  }

  .btnCmtFoot {
    width: 100%;
  }

  .shortcuts ul li {
    display: block;
    margin-bottom: 5px;
  }
}
