* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.foot {
  padding: 10px 20px;
  height: auto;
  background-color: #00804b;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.foot-container {
  margin: 0%;
  padding: 0%;
  width: 100%;
  display: flex; /* Utiliser flex pour centrer */
  align-items: center; /* Centre verticalement */
}

/* Section Contacts */
.foot1 {
  width: 45%;
}

.ctcSection h2 {
  margin-bottom: 20px;
}

.ctcSection p, .mailien {
  font-size: 16px;
  margin-bottom: 8px;
}


.mailien {
  text-decoration: none;
  text-align: center;
  color: white;
}

.mailien:hover {
  color: #fdb024;
}


.foot2{
  width: auto;
  padding: 20px;
}


.socialSection {
  background-color: rgba(0, 0, 0, 0.4); /* Couleur noire transparente */
  padding: 20px;
  border-radius: 10px;
}

.socialSection h2 {
  margin-bottom: 10px;
}

.socialIcons {
  display: flex;
  gap: 15px;
}

.socialIcon {
  color: #FDB024; /* Jaune */
  text-decoration: none;
}

.socialIcon:hover {
  color: white;
}

.cmtSection{
  right: 20%;
  padding: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.448);
}

.cmtMail{
  width: 250px;
  padding: 0 20px;
  height: 30px;
  font-size: 16px;
  resize: none;
  outline: none;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.448);
}

.cmtSection h2 {
  margin-bottom: 10px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cmtFoot{
  width: 250px;
  padding: 0 20px;
  font-size: 16px;
  resize: none;
  outline: none;
  border: none;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.448);
}

.btnCmtFoot{
  width: 100px;
  padding: 5px;
  text-align: center;
}

.btnCmtFoot:hover {
  background-color: #ffd700;
}

/* Liste de raccourcis */
.shortcuts {
  margin-top: 20px;
  text-align: center;
}

.shortcuts ul {
  list-style: none;
}

.shortcuts ul li {
  display: inline;
  margin-right: 15px;
}

.shortcuts ul li a {
  text-decoration: none;
  color: white;
}

.shortcuts ul li a:hover {
  color: #fdb024;
}

/* Section Copyright */
.copyright {
  margin-top: 10px;
  text-align: center;
}

.copyright p {
  font-size: 14px;
}

/* Styles pour les écrans de moins de 768px */
/* Responsivité */
@media (max-width: 767px) {
  .foot-container {
    flex-direction: column;
    align-items: center;
  }

  .foot1, .foot2 {
    width: 100%;
    text-align: center;
  }

  .cmtMail, .cmtFoot {
    width: 100%;
  }

  .btnCmtFoot {
    width: 100%;
  }

  .shortcuts ul li {
    display: block;
    margin-bottom: 5px;
  }
}