.SouscriptionModal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.SouscriptionModal-wrapper {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 40%;
    text-align: center;
}

.SouscriptionModal-wrapper > h2 {
    font-size: 20px;
    color: #ff0000;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

button.souscriptionmodal-btn {
    width:80%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.45s, color 0.45s;
}


button.souscriptionmodal-btn.connexion-btn{
     background-color: #218838;
     margin-top:15px;
     margin-bottom: 8px;
}

button.souscriptionmodal-btn.connexion-btn:hover{
     background-color: #28a745;
     font-weight: bold;
}
button.souscriptionmodal-btn.annuler-btn{
     border: 1px solid #ff0000;
     color: #ff0000;
}

button.souscriptionmodal-btn.annuler-btn:hover{
    background-color: #ff0000;
    color: #ffffff;
    font-weight: bold;
}

@media(max-width:800px){
    .SouscriptionModal-wrapper {
        width:  70%;
    }
}