/* Conteneur principal */
.home {
  margin-top: 50px;
  padding: 10px 20px;
  background-color: #f2fcf8; /* Couleur de fond légèrement plus claire */
  display: flex;
  flex-direction: column;
  justify-items: center;
  min-height: 100vh;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  justify-items: center;
  gap: 10px;
  margin-top: 30px; /* Ajout d'une marge en bas pour espacer la pagination */
}

.inexistant {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #f00;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Ajout d'une marge en haut pour plus d'espacement */
  margin-bottom: 20px;
}

.Btnpage {
  background: #fdb024;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.Btnpage:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.pagination button.active {
  background-color: #fdb024;
}

/* Section de bienvenue */
.welcome-section {
  text-align: center;
  padding: 50px;
  background-color: #4fb97f; /* Nuance plus claire du vert */
  color: #ffffff;
}

.welcome-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.welcome-section p {
  font-size: 18px;
}

/* Section À propos de nous */
.about-section {
  padding: 40px 20px;
  background-color: #f9e9cc;
}

.about-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 16px;
  line-height: 1.6;
}

/* Section des services */
.services-section {
  padding: 40px 20px;
  background-color: #f2fcf8;
}

.services-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap; /* Allows services to wrap on smaller screens */
  background-color: #f2fcf8;
}

.service {
  padding: 20px;
  border-radius: 8px;
  width: 30%; /* Adjust width for larger screens */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.service h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.service p {
  font-size: 14px;
  line-height: 1.4;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .service {
    width: 45%; /* Adjust width on medium screens (tablets) */
  }

  .about-section h2,
  .services-section h2 {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .service {
    width: 100%; /* Full width on small screens (mobile) */
  }

  .about-section,
  .services-section {
    padding: 20px 10px;
  }

  .about-section p,
  .services-section p {
    font-size: 15px;
  }

  .welcome-section h1 {
    font-size: 28px;
  }

  .welcome-section p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .welcome-section h1 {
    font-size: 24px;
  }

  .welcome-section p {
    font-size: 14px;
  }

  .about-section p,
  .services-section p {
    font-size: 14px;
  }
}
