/* Conteneur principal */
.home {
  margin-top: 70px;
  padding: 10px 25px;
  background-color: #f2fcf8; /* Couleur de fond légèrement plus claire */
  display: flex;
  flex-direction: column;
  justify-items: center;
  min-height: 100vh;
}

/* Section de bienvenue */
.welcome-section {
  text-align: center;
  padding: 50px;
  background-color: #4fb97f; /* Nuance plus claire du vert */
  color: #ffffff;
}

.welcome-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.welcome-section p {
  font-size: 18px;
}

.loading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  margin-bottom: 30px;
}

.loadingSpin{
  animation: spin 5s linear infinite;/* Animation de rotation*/
  width: 200px;
  height: auto;
}

/* Animation pour le spinner*/
@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  width: 100%;
  justify-items: center;
  gap: 30px 20px; /* 20px vertical, 10px horizontal */
  margin-top: 30px; /* Ajout d'une marge en bas pour espacer la pagination */
}

.inexistant {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #f00;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Ajout d'une marge en haut pour plus d'espacement */
  margin-bottom: 20px;
}

.Btnpage {
  background: #fdb024;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.Btnpage:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.pagination button.active {
  background-color: #fdb024;
}

/* Section À propos de nous */
.about-section {
  padding: 40px 20px;
  background-color: #f9e9cc;
}

.about-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 16px;
  line-height: 1.6;
}

<<<<<<< HEAD
.voir-plus-button:hover {
  background-color: #fdb024;
  color: #00804b;
}
@media (max-width:450px) {
  .home{
    padding-top: 70px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    width: 100vh;
  }
  .voir-plus-container{
    padding: 15px;
  }
   
}
@media (max-width:769px){
  .cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  justify-items: center;
  gap: 20px;
  }
}
@media(max-width:622px){
  .home{
    width: 100vh;
    
  }
}
@media(max-width:541px){
  .voir-plus-container{
    margin: 40px;
}
.cards-container {
  margin: 30px;
}

}
=======
/* Section des services */
.services-section {
  padding: 40px 0;
  background-color: #f2fcf8;
}

.services-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux cartes par ligne */
  gap: 20px; /* Espacement entre les cartes */
}

.service {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.service img {
  width: auto;
  height: 150px;
  border-radius: 8px;
  position: static;
  object-fit: contain; /* Gardez les proportions de l'image */
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service h3, .service p {
  text-align: center;
  position: relative; /* Gardez les textes par-dessus */
  z-index: 0; /* Assurez-vous que les textes sont visibles */
}

.service h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.service p {
  font-size: 14px;
  line-height: 1.4;
}

@media (max-width: 850px) {

  .about-section,
  .services-section {
    padding: 20px 10px;
  }

  .about-section p,
  .services-section p {
    font-size: 15px;
  }

  .welcome-section h1 {
    font-size: 28px;
  }

  .welcome-section p {
    font-size: 16px;
  }

  .service {
    display: flex;
    flex-direction: column;
  }
}

@media(max-width:600px){
  .services-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Deux cartes par ligne */
    gap: 20px; /* Espacement entre les cartes */
  }

}

@media(min-width:1300px){
  .services-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Deux cartes par ligne */
    gap: 20px; /* Espacement entre les cartes */
  }

  .service {
    display: flex;
    flex-direction: column;
  }

}
>>>>>>> e1f62e7b22e096f2566b12cd6f1fb5163e7a6d9a
