/* Connexion.css */

 .stacke {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .stackeChild {
    background-color: #00804b; /* Couleur de fond principale */
    padding: 40px;
    max-width: 400px;
    text-align: center;
    position: relative;
  }
  .input-containerConnexion{
    background-color: #04623b;
    margin-bottom: 10px;
    padding: 0 6px;
  }
  .bxs-envelope{
    pad: 5px;
  }
  
  .bx-homeConnexion{
    position: absolute!important;
    top: 130px;
    left: 60px;
    height: 30px;
    width: 30px;
  }
  
  .h2Con {
    color: white;
  }
  
  .divMereImageBmw{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .divImageBmw{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .imageBmw {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .divFormulaire{
    display: flex;
    flex-direction: column;
  }
  .input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #04623b;
    color: white;
  }
  ::placeholder{
    color: #b2dfdb;
  }
  
  .inputEmail {
    margin-bottom: 0;
  }
  
  .inputMdp {
    margin-bottom: 0;
  }
  
  .mdpOublie {
    display: block;
    text-align: right;
    color: white;
    font-size: 14px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mdpOublie:hover {
    color: #fdb024;
    font-weight: normal;
  }
  
  .btnConnexion {
    width: 220px;
    height: 40px;
    position: relative;
    left: 40px;
    border: none;
    background-color: #fdb024;
    color: #004d40;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .btnConnexion:hover {
    background-color: #db9719;
  }
  
  .pErreur {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .divIcone {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 330px;
    position: relative;
    left: -5px;
  }
 
  .divIcone a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .divIcone a:hover {
    color: #007bff;
  }
  
  #divmot2 {
    margin-top: 30px;

  }
  
  .mot3 {
    font-size: 14px;
    color: #333;
  }
  
  .mot3 a {
    color: white;
    text-decoration: none;
    /* font-weight: bold; */
    margin-left: 5px;
  }
  
  .mot3 a:hover {
    font-weight: normal;
    color: #fdb024;
  }


  /* Conteneur pour le texte et l'icône ensemble */
  .divTextIconGoogle, 
  .divTextIconFacebook {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    background-color: #05673f; /* Couleur de fond douce */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre subtile pour l'effet de profondeur */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ajout de transition pour l'effet au survol */
    /* cursor: pointer; */
  }
  .divTextIconGoogle:hover,
  .divTextIconFacebook:hover{
    background-color: #045837;
    cursor: pointer;
  }
  .divIcone{
    display: flex;
    flex-direction: column;
  }

  
  /* Style pour les textes "Ou s'inscrire avec" */
  .textInscrireAvecGoogle,
  .textInscrireAvecFacebook {
    /* font-size: 16px; */
    color: white;
  }

  .google-icon {
    color: #DB4437; /* Couleur spécifique pour l'icône Google */
    font-size: 30px;
  }
  
  .cercle {
    background-color: #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .cercleGoogle{
    margin-left: -10px;
  }
  
  /* Icône Google pour l'inscription */
  .google-icon {
    background: linear-gradient(
      to right,
      #4285f4 25%,
      #34a853 25%,
      #34a853 50%,
      #fbbc05 50%,
      #fbbc05 75%,
      #ea4335 75%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    text-align: center;
  }
  .divLogin-link{
    margin-top: 10px!important;
  }
  .divLogin-link2{
    margin-top: 100px!important;
  }
  
  /* Style pour la section de lien de connexion */
  .divLogin-link {
    margin-top: 40px; /* Espace supplémentaire pour positionner cette section sous les boutons */
    display: flex;
    justify-content: center;
  }
  
  /* Style du lien en bas de la boîte */
  .lienPolitique, .login-link {
    color: #ffffff;
    text-decoration: none;
    /* font-size: 14px; */
  }

  

  /**=== MEDIA QUERY ====**/

  /*----------MOBILE PHONE -----------*/

  /*>>>>>  LOGIN PAGE <<<<<<*/
  
  @media only screen and (max-width: 600px){
    .stacke{
      width:100vw;
      overflow:hidden;
    }
    .stackeChild{
      width:100vw;
      max-width:100vw;
      height:100vh;
      padding: 50px 40px;
    }
    .divMereImageBmw{
      margin-bottom:20px;
    }
    div.input-containerConnexion{
      margin-bottom:15px;
    }
    .mdpOublie{
      font-style: italic;
      font-size : 16px;
    }
    .btnConnexion{
      margin-top:10px;
      width:auto!important;
      left: 0;
    }
    div.divIcone{
      width:100%!important;
      margin:75px auto;
    }
    div.divIcone > div{
      width: 100%;
      padding:25px 0;
      border-radius:8px;
    }
    div.divIcone > div, .btnConnexion{
      border-radius:5px;
    }
    div.divIcone > div:first-of-type{
      margin-bottom: 15px;
    }
    div#divmot2, div#divmot3{
       width: auto;
       margin-top:0!important;
       margin-bottom:30px;
    }
    div#divmot2 > p.mot3,
    div#divmot3>p.mot4{
       font-size:17px;
       color: #ffffff;
    }
    div#divmot2 > p.mot3 > a{
       text-decoration: underline;
    }
    div#divmot3>p.mot4 >a {
      text-decoration:none;
      color: #fdb024;
    }
  }
