.divHomeMere {
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f7; /* Light background for contrast */
}

.divControlsChartContainer1, .divControlsChartContainer2{
  width: 100%;
}


.divGraphique {
  width: 100%;
  background: white; /* Card-like background */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: scroll;
  height: 450px;
  display: flex;
  gap: 10px;
}

.titreStatistique {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  /* margin-bottom: 10px; */
  background-color: white;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.divControlsChartContainer {
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

.filterControl {
  display: flex;
  align-items: center;
}

/* .labelChoixFiltre {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

.slectChoixFiltre {
  padding: 7px;
  border: 1px solid hsl(0, 6%, 90%); /* Slightly darker border */;
}

.btnTelechargementGraphique {
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.btnTelechargementGraphique:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.divNbrGraphique {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.divNbrAbonnes, .divSommeTotal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; /* Light blue background */
  border: 1px solid hsl(0, 6%, 90%); /* Slightly darker border */
  padding: 15px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
}

.pNbrAbonnes, .pSommeTotal {
  font-size: 1.5rem; /* Larger text for emphasis */
  color: #333; /* Darker text color for contrast */
  margin: 0; /* Remove default margin */
}

.label {
  font-weight: bold; /* Bold label */
  color: #007bff; /* Blue color for the label */
  margin-right: 5px; /* Space between label and number */
}

.chartContainer {
  width: 100%;
  height: 300px; /* Set a fixed height for the chart */
  border: 1px solid hsl(0, 6%, 90%); /* Slightly darker border */
}

.accesRefuse {
  text-align: center;
  font-size: 1.5rem;
  color: red;
  padding: 20px;
}
.chargementMessageHome {
  position: absolute;
  font-size: 1em;
  color: #6c757d; 
  width: 100%!important;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
