.classRolePme {
    padding: 5px;
    background-color: #f9f9f9; /* Couleur de fond plus douce */
    /* border: 1px solid #e0e0e0;  */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /* Ombre légère pour donner de la profondeur */
    color: #333; /* Couleur de texte pour un bon contraste */
    transition: background-color 0.3s ease; /* Effet de transition pour les interactions */
    height: 100%;
    /* width: 97%; */
  }

  .divGraphique {
    height: 100%; /* Taille du graphique */
    background-color: #fff; /* Fond blanc propre */
    /* border: 1px solid #ccc;  */
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1); /* Ombre subtile mais plus marquée */
    padding: 10px; /* Ajout d'un peu de padding pour aérer le contenu */
    transition: box-shadow 0.3s ease; /* Transition d'ombre au survol */
  }  
  
.chargementMessageHome {
    position: absolute;
    font-size: 1em;
    color: #6c757d; 
    width: 100%!important;
    display: flex;
    justify-content: center;
  }

  /* Styles généraux pour le conteneur principal */
.controls {
    display: flex;
    justify-content: space-around;
    align-items: end;
    background-color: transparent;
    margin-bottom: 20px; /* Espace entre les contrôles et le graphique */
  }
  
  .labelChoixType,
  .labelChoixFiltre {
    font-size: 14px; /* Taille de police */
    color: #333; /* Couleur du texte */
    margin-left: 10px;
  }
  
  .slectChoixType,
  .slectChoixFiltre {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease; /* Transition pour le focus */
  }
  .slectChoixType{
    width: 125px;
  }
  
  /* Effet au focus */
  .slectChoixType:focus,
  .slectChoixFiltre:focus {
    border-color: #007bff; /* Bordure bleue au focus */
    outline: none; /* Retirer l'outline par défaut */
  }
  
  .btnTelechargementGraphique {
    padding: 7px 10px;
    background-color: #007bff; /* Couleur de fond bleue */
    color: white; /* Couleur du texte */
    font-size: 14px;
    border: none; /* Pas de bordure */
    border-radius: 0;
    cursor: pointer; /* Curseur de pointeur */
    transition: background-color 0.3s ease; /* Transition pour le hover */
  }
  
  /* Effet au hover sur le bouton */
  .btnTelechargementGraphique:hover {
    background-color: #0056b3; /* Couleur plus foncée au hover */
  }
  
  .chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
  }
  
  /* Styles pour l'accès refusé */
  .accesRefuse {
    color: red; /* Couleur du texte rouge */
    font-size: 18px; /* Taille de police plus grande */
    text-align: center; /* Centre le texte */
    margin-top: 20px; /* Espace en haut */
    font-weight: bold; /* Gras pour plus d'impact */
  }

  .titreStatistique{
    text-align: center;
    margin-bottom: 10px;
  }
  
  
  @media (min-width:1200px) {
    .classRolePme {
        width: 92%!important;
        position: fixed;
        left: 122px!important;
      }
  }
  @media (min-width:950px) {
    .classRolePme {
        width: 89.7%;
        position: fixed;
        left: 120px;
      }
  }
  @media (max-width:950px) {
    .classRolePme {
        width: 87.5%;
        position: fixed;
        left: 120px;
      }
  }
  @media (max-width:860px) {
    .classRolePme {
        width: 98.8%;
        position: relative;
        left: 11px;
      }
  }
  @media (max-width:500px) {
    .classRolePme {
        width: 96%;
        position: relative;
        left: 6.5px;
      }
      .controls {
        display: flex;
        flex-wrap: wrap; 
        gap: 10px; 
      }
      
      .controls div {
        flex: 1 1 calc(50% - 10px);
        box-sizing: border-box; 
      }      
      .divControlsChartContainer {
        height: 350px;
        overflow-y: scroll;
        padding: 10px; 
      }
      .btnTelechargementGraphique{
        margin-left: 10px;
      }
      
  }  
  @media (max-width:390px) {
    .classRolePme {
        width: 95%;
        position: relative;
        left: 7px;
      }
      .controls{
        flex-direction: column;
        align-items: start;
      }
  }
  