* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Conteneur principal pour centrer la boîte */
.stack-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content:space-between;
  max-width: 100%;
  height: 100%;
  padding: 0 20px; /* Espacement pour éviter que le contenu touche les bords */
  box-sizing: border-box; 
}

/* Conteneur pour l'image et le titre */
.right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centre le contenu verticalement */
  padding: 20px; /* Espacement interne */
  background-color: #ffffff; /* Fond blanc pour contraste */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Ombre légère pour une meilleure séparation visuelle */
  border-radius: 15px; /* Coins arrondis */
  position: relative; /* Position relative pour les éléments internes */
}

/* Logo */
.logoInscription {
  width: auto; /* Ajuste automatiquement la largeur */
  max-width: 100%; /* Assure que le logo ne dépasse pas le conteneur */
  max-height: 80%; /* Limite la hauteur pour éviter l'écrasement */
  object-fit: contain; /* Conserve les proportions du logo */
}

/* Conteneur de la boîte principale */
.box-container {
  padding: 20px 10px; /* Espacement interne généreux */
  height: 100%;
  background-color: #00804b; /* Couleur de fond principale */
  color: #ffffff; /* Couleur du texte */
  border-radius: 12px; /* Coins arrondis */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Ombre légère pour un effet de profondeur */
  position: relative; /* Position relative pour les éléments internes */
  left: 0;
  margin-left: 20px; /* Espace entre les conteneurs */
  box-sizing: border-box; /* Inclut le padding dans la largeur totale */
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 3000;
}

/* Style du logo */
#lg {
  width: 60px;
  height: 60px; /* Ajustement de la hauteur pour un meilleur rendu */
  justify-content: center;
  border-radius: 50%;
  object-fit: cover;
}
.lg{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* Groupe de boutons pour basculer entre les types de formulaires */
.button-group {
  display: flex;
  justify-content: center;
  margin-bottom: 5px; /* Espacement sous le groupe de boutons */
}

/* Style général pour les boutons */
.client, .pme {
  width: 120px;
  height: auto;
  margin: 5px;
  border: none;
  border-radius: 8px;
  background-color: #054d39!important;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.client:hover, .pme:hover {
  background-color: #004d40;
}
.input-containerMENAGE{
  width: 100%;
}
/* Conteneur du formulaire et des champs de saisie */
.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* justify-content: center; */
  align-items: center;
  height: 70%;
}

/* Style des sélecteurs et des champs de saisie */
.input-container {
  display: flex;
  align-items: center;
  width: calc(50% - 10px);
  height: 40px;
  border: 1px solid #004d40;
  border-radius: 8px;
  background-color: #04623b;
  box-sizing: border-box;
  padding: 0 10px;
  overflow: hidden;
}

/* Style des icônes dans les champs de saisie */
.input-container i {
  color: #fdb024;
  margin-right: 10px;
  position: relative;
}

/* Style des champs de saisie, des sélecteurs et des zones de texte */
.inputIns,
.selectIns,
.desc {
  background-color: #04623b;
  border: none;
  color: #ffffff;
  font-size: 16px;
  /* padding: 8px; */
  border-radius: 8px;
}

.inputIns::placeholder,
.selectIns::placeholder,
.desc::placeholder {
  color: #b2dfdb;
}

/* Cacher l'input file */
.inputIns[type="file"] {
  display: none;
}

/* .input-containerMENAGE{
  width: 80%;
} */
/* .type{
  position: relative;
  left: 30px;
} */
/* Styliser le label comme un bouton */
.custom-file-upload {
  width: calc(60% - 10px);
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
  background-color: #fbbc05;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px 0;
}

/* Style du textarea */
.desc, #cmdp {
  width: calc(100% - 20px);
  height: 80px;
  resize: none;
  /* padding: 10px; */
  border-radius: 8px;
  background-color: #04623b;
}
/* .selectIns1,
.selectIns2,
.selectIns3{
  width: 140px;
} */

/* Conteneur pour le texte (textarea) */
.text-container {
  display: block;
  align-items: center;
  width: 100%;
  border: 1px solid #04623b;
  border-radius: 8px;
  background-color: #04623b;
  padding: 10px;
}

/* Conteneur pour la case à cocher */
.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* Style pour le texte à côté de la case à cocher */
.labelPolitique {
  margin-left: 10px;
}

.accept{
  margin: 10px 0px 10px 0;
}

.divSub{
  display: flex;
  justify-content: center;
}

/* Style spécifique pour le bouton "submit" */
.sub {
  width: 220px;
  height: 45px;
  border: none;
  background-color: #fdb024;
  color: #004d40;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.sub:hover {
  background-color: #d89008;
}
.textInscrireAvec{
  display: flex;
  align-items: center;
}
/* .ins {
  display: flex;
  justify-content: center;
  gap: 10px;
} */

/* -------------------------------------------------------------------- */


/* Style pour les textes "Ou s'inscrire avec" */
.textInscrireAvecGoogle,
.textInscrireAvecFacebook {
  font-size: 16px;
  color: white;
  margin-bottom: 10px; /* Espace entre le texte et l'icône */
  text-align: center;
}

/* Conteneur pour le texte et l'icône ensemble */
.divTextIconGoogle, 
.divTextIconFacebook {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
  align-items: center;
  background-color: #05673f; /* Couleur de fond douce */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre subtile pour l'effet de profondeur */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ajout de transition pour l'effet au survol */
  /* cursor: pointer; */
}
.insEntreprise{
  margin-top: 20px;
}
.google-icon {
  color: #DB4437; /* Couleur spécifique pour l'icône Google */
  font-size: 30px;
}

/* Icône Facebook déjà stylée inline */


/* ---------------------------------------------------------------------- */


.cercle {
  background-color: #ffffff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 5px;
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cercleGoogle{
  margin-left: -10px;
}

/* Icône Google pour l'inscription */
.google-icon {
  background: linear-gradient(
    to right,
    #4285f4 25%,
    #34a853 25%,
    #34a853 50%,
    #fbbc05 50%,
    #fbbc05 75%,
    #ea4335 75%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  text-align: center;
}
.divLogin-link{
  margin-top: 10px!important;
}
.divLogin-link2{
  margin-top: 100px!important;
}

/* Style pour la section de lien de connexion */
.divLogin-link {
  margin-top: 40px; /* Espace supplémentaire pour positionner cette section sous les boutons */
  display: flex;
  justify-content: center;
}

/* Style du lien en bas de la boîte */
.lienPolitique, .login-link {
  color: #ffffff;
  text-decoration: none;
  /* font-size: 14px; */
}

.lienPolitique:hover, .login-link:hover {
  color: #fdb024;
  font-weight: normal;
}

/* Message d'erreur */
.error-message {
  color: #f44336; /* Rouge vif pour l'erreur */
  font-size: 14px;
}
.bx{
  margin: 0;
  padding: 0!important;
}
.cercle .bx{
  font-size: 35px;
}

/* POUR GERER LE RESPONSIVE DE FORMULAIRE D'INSCRIPTION (ES MEDIA SCREEN)  */

@media (min-width:900px){
  .box-container{
    width: 60%!important;
  }
  .labelPolitique, .login-link, .textInscrireAvec{
    font-size: 13px;
  }
  .checkbox-container .labelPolitique .lienPolitique{
    width: 50%;
  }
  .input-containerMENAGE{
    width: 88%!important;
  }
  .accept{
    margin-left: 30px;
    display:flex;
    justify-content: start;
  }
  .divLogin-link2{
    margin-top: 10px!important;
  }
  .ins{
    width: 98%;
  }
  .text-container{
    width: 95.5%!important;
  }
  .input-containerTablettePolitique{
    position: relative;
    left: -100px;
  }
  .subPME{
    position: relative;
    left: 210px;
  }
  .form-container{
    height: 50%;
    /* justify-content: space-between; */
    margin-left: 30px;
  }
  .checkbox-container{
    width: 100%!important;
  }
  .labelPolitique, .login-link{
    font-size: 16px;
  }
  .input-containerMENAGE{
    width: 97%!important;
  }
}

@media (min-width:751px){
  .box-container{
    width: 70%;
  }
  .input-containerMENAGE{
    width: 98.2%!important;
  }
}

/* Responsive pour les tablettes */
@media (max-width:750px){
  .box-container{
    left: -10px;
  }
  .labelPolitique, .login-link, .textInscrireAvec{
    font-size: 13px;
  }
  .right-container {
    display:none;
  }
  .checkbox-container .labelPolitique .lienPolitique{
    width: 50%;
  }
  .input-container, .checkbox-container,.accept, .text-container{
    width: 47%!important;
  }
  .input-containerMENAGE{
    width: 95.5%!important;
  }
  .accept{
    margin-left: 30px;
    display:flex;
    justify-content: start;
  }
  .divLogin-link2{
    margin-top: 10px!important;
  }
  .ins{
    width: 98%;
  }
  .text-container{
    width: 95.5%!important;
  }
  .input-containerTablettePolitique{
    position: relative;
    left: -100px;
  }
  .subPME{
    position: relative;
    left: 180px;
  }
  .form-container{
    height: 50%;
    /* justify-content: space-between; */
    margin-left: 30px;
  }
  .checkbox-container{
    width: 100%!important;
  }
  .labelPolitique, .login-link{
    font-size: 16px;
  }
}

@media (max-width:700px) {

  .box-container{
    width: 90%;
    left: 30px;
  }
  .input-container, .input-containerMENAGE, .checkbox-container,.accept, .text-container{
    width: 90%!important;
  }
  .accept{
    margin-left: 20px;
  }
  .divLogin-link2{
    margin-top: 10px!important;
  }
  .ins{
    width: 98%;
  }
  .form-container{
    height: 50%;
    margin-left: 30px;
  }

  .form-container2{
    gap: 10px;
  }
  .input-container{
    overflow-x: hidden;
    width: 94%!important;
  }
  .input-containerSelect{
    width: 46%!important;
  }
  .stack-container{
    width: 90%;
    position: relative;
    left: 2%;
  }
  .input-container, .selectIns{
    font-size: 14px;
  }
  .text-container{
    width: 94%!important;
  }
  .subPME{
    position: relative;
    left: 90px;
  }
}

.divMereTest{
  height: 300px;
  width: 300px;
  background-color: rgb(15, 102, 93);
  display: flex;
  justify-content:center;
  align-items: center;
  /* position: relative; */
  position: fixed;
}

.divfille1{
  background-color: #ea4335;
  height: 30px;
  width: 30px;
  position: fixed;
}
.divfille2{
  background-color: #81920e;
  height: 30px;
  width: 30px;
 
  /* left: 10px; */
}
.divfille3{
  background-color: #35ea53;
  height: 30px;
  width: 30px;
}