 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 .contentFilsDashboard {
    overflow: hidden;
    background-color: #efefefef;
}

/* .btnAccepter{
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.btnAccepter:hover{
    background-color: rgb(5, 88, 5);
    color: white;
} */
 /* Style pour le bouton 'Accepter' */
.btnAccepter {
    background-color: #4CAF50; /* Vert pour accepter */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    width: 150px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
  }
  
  .btnAccepter:hover {
    background-color: #45a049; /* Changement de couleur au survol */
    transform: scale(1.05); /* Légère mise en avant au survol */
  }
/* .btnRefuser{
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.btnRefuser:hover{
    background-color: rgb(166, 10, 10);
    color: white;
} */
 /* Style pour le bouton 'Refuser' */
.btnRefuser {
    background-color: #f44336; /* Rouge pour refuser */
    border: none;
    color: white;
    padding: 12px 24px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
  }
  
  .btnRefuser:hover {
    background-color: #d32f2f; /* Changement de couleur au survol */
    transform: scale(1.05); /* Légère mise en avant au survol */
  }
  
  /* Ajout d'une animation subtile */
  button {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  button:active {
    transform: scale(0.95);
  }
.chargementMessageAbonnes{
    position: relative;
    top: 50px;
    left: 100px;
}
.abonneNonTrouve{
    position: relative!important;
    top: 0px;
}
.autreInfos{
    width: 90%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.autreInfos p:nth-child(1){
    font-weight: bold;
}
.divDonnesAbonnementEnAttenteMere{
    width: 100%!important;
    position: relative;
    left: 10px;
}
.divDonnesAbonnementEnAttente{
    width: 97%;
    height: 100%;
}
.donneesAbonnementEnAttenteMere{
    display: flex;
    border-bottom: 1px solid #777171;
    width: 100%;
    position: relative;
    left: -10px;
    margin-top: 10px;
}

.donneesAbonnementEnAttente{
    display: flex;
    margin:0;
    width: 65% !important;
}
/* .divValidation{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
} */
 /* Styles pour la div contenant les boutons */
.divValidation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px 10px 10px;
    margin-left: 30px;
  }

.chargementMessageAbonnementEnAttente {
    position: absolute;
    font-size: 1.5em;
    color: #626669; 
    width: 100%!important;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  @media (min-width:1229px) {
    .donneesAbonnementEnAttente{
        width: 100%!important;
    }
    .divDonnesAbonnementEnAttente{
        width: 100%;
        height: 100%;
    }
    .contentFilsDashboard{
        left: 140px;
    }
} 
  @media (min-width:901px) {
    .donneesAbonnementEnAttente{
        width: 82.5%!important;
    }
    .divDonnesAbonnementEnAttente{
        width: 100%;
        height: 100%;
    }
    .contentFilsDashboard{
        left: 130px;
    }
} 

  @media (max-width:900px) {
    .donneesAbonnementEnAttente{
        width: 86%!important;
        margin-left: 15px;
    }
    .divDonnesAbonnementEnAttente{
        width: 100%;
        height: 100%;
    }
} 


 @media (max-width:700px) {
    .donneesAbonnementEnAttente{
        width: 86%!important;
    }
    .divDonnesAbonnementEnAttente{
        width: 100%;
        height: 100%;
    }
} 

@media (max-width: 550px) {
    .donneesAbonnementEnAttenteMere{
        width: 98%!important;
    }
    
    .donneesAbonnementEnAttente{
        display: flex;
        margin:0;
        width: 100%!important;
        margin-bottom: 5px;
        padding-left: 10px;
    }
    .chargementMessageAbonnementEnAttente {
        text-align: center;
        width: 100%;
        justify-content: center;
      }
      .divNombreAbonnementEnAttenteDashboard{
        top: -10px!important;
        left: -120px!important;
      }
} 

@media (max-width:450px) {
    .donneesAbonnementEnAttente{
        width: 74%!important;
        margin-left: 10px;
    }
    .autreInfos{
        margin-left: 0px;
    }
    .chargementMessageAbonnementEnAttente {
        text-align: center;
        width: 100%;
        justify-content: center;
    }
    .divValidation{
        width: 40%;
        margin-left: 0;
    }
    .btnAccepter, .btnRefuser{
        width: 130px
    }
}

@media (max-width:390px) {
    .donneesAbonnementEnAttenteMere{
        display: flex;
        flex-direction: column;
    }
    .donneesAbonnementEnAttente{
        width: 100%!important;
        position: relative;
        left: 5%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #cbc5c5;
    }
    .autreInfos{
        margin-left: 0px;
    }
    .divValidation{
        width: 102%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 0;
    }

    .chargementMessageAbonnementEnAttente {
        text-align: center;
        font-size: 1em;
        color: #6c757d; 
        width: 100%;
        justify-content: center;
      }
      .divNombreAbonnementEnAttenteDashboard{
        top: -10px;
        left: -118px;
      }
      .chargementMessageAbonne, .abonneNonTrouve{
        font-size: 1rem;
        left: -3%;
      }
}
