 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 .contentFilsDashboard {
    overflow: hidden;
    background-color: rgb(207, 207, 207);
}

.btnAccepter{
    background-color: green;
    color: white;
}

.btnAccepter:hover{
    background-color: rgb(5, 88, 5);
    color: white;
}
.btnRefuser{
    background-color: red;
    color: white;
}
.btnRefuser:hover{
    background-color: rgb(166, 10, 10);
    color: white;
}
.chargementMessageAbonnes{
    position: relative;
    top: 50px;
    left: 100px;
}
.abonneNonTrouve{
    position: relative!important;
    top: 0px;
}
.autreInfos{
    width: 90%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.autreInfos p:nth-child(1){
    font-weight: bold;
}
.divDonnesAbonnementEnAttenteMere{
    width: 100%!important;
    position: relative;
    left: 10px;
}
.divDonnesAbonnementEnAttente{
    width: 97%;
    height: 100%;
}
.donneesAbonnementEnAttenteMere{
    display: flex;
    border-bottom: 1px solid #777171;
    width: 100%;
}

.donneesAbonnementEnAttente{
    display: flex;
    margin:0;
    width: 65% !important;
}
.divValidation{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.chargementMessageAbonnementEnAttente {
    font-size: 1em;
    color: #6c757d; 
    width: 100%;
    justify-content: center;
    position: relative;
    top: 30px;
  }

 @media (min-width:900px) {
    .divDonnesAbonnementEnAttenteMere{
        left: 0px;
        width: 94%!important;
    }
    .divDonnesAbonnementEnAttente{
        width: 100%;
        height: 100%;
    }
} 

@media (min-width: 500px) {
    .donneesAbonnementEnAttenteMere{
        width: 100%!important;
    }
    
    .donneesAbonnementEnAttente{
        display: flex;
        margin:0;
        width: 100%!important;
        border-bottom: 1px solid #cbc5c5;
        margin-bottom: 5px;
    }
    .chargementMessageAbonnementEnAttente {
        text-align: center;
        width: 100%;
        justify-content: center;
      }
} 

@media (max-width:420px) {
    .donneesAbonnementEnAttente{
        width: 65%!important;
    }
    .autreInfos{
        margin-left: 0px;
    }
    .chargementMessageAbonnementEnAttente {
        text-align: center;
        width: 100%;
        justify-content: center;
      }
}
@media (max-width:390px) {
    .donneesAbonnementEnAttenteMere{
        display: flex;
        flex-direction: column;
    }
    .donneesAbonnementEnAttente{
        width: 100%!important;
        position: relative;
        left: 12%;
        display: flex;
        justify-content: center;
    }
    .autreInfos{
        margin-left: 0px;
    }
    .divValidation{
        width: 80%;
        position: relative;
        left: 9%;
    }
    .chargementMessageAbonnementEnAttente {
        text-align: center;
        font-size: 1em;
        color: #6c757d; 
        width: 100%;
        justify-content: center;
      }
}
