  /* Style global pour la section d'informations sur la PME */
.infosPME {
    margin: 0 auto; 
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2fcf8;
}

.infosPME-Wrapper{
  width: 65%;
  background-color: #fff;
  padding-top: 130px; /* Compense la hauteur de la navbar et une marge entre la navbar et la carte*/
}
/* Style pour l'en-tête avec logo et informations */
.infosPME_header {
    display: flex;
    flex-direction: row;
    border: 1px solid #C8C8C8;
    border-radius: 15px;
    box-shadow: 0 6px 12px #0000001a;
    width: 80%;
    height: auto;
    margin:auto;
    justify-content: center;
    text-align: center;
}

div.infosPME_header div.logo-pme-info{
     width: 30%;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: auto;
}

/* Style pour le logo de la PME */

/* Style pour les informations de la PME */
.pme-info {
    flex: 1;
    padding: 30px;
}
div.pme-info div.all-p{
    margin-bottom:15px;
}

/* Style pour le titre de la PME */
.pme-title {
    font-size: 27px;
    color: #333333;
    font-weight: bold;
    display: flex;
    justify-content: start;
}

/* Style pour la description de la PME */
.pPme {
    font-size: 17px;
    color: #555555;
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: start;
}
p.pPme.p > span.all-p-title{
    font-weight: bold;
}


/* Style pour la section des commentaires */
.infosPME_comments {
    margin-top: 40px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

/* Style pour la zone de texte des commentaires */
.commentairePme {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #dddddd;
    resize: none;
}

/* Style pour le bouton */
div.pme-info .AbonnementBtn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    width:50%;
    transition: background-color 0.40s ease-out, box-shadow 0.45s ease-in;
}
div.pme-info .AbonnementBtn:hover{
    background-color:#fdb024;
    box-shadow: 2px 2px 1px #D3D3D3;
}

.commentaireBtn:hover {
    background-color: #218838;
}

/* Lien pour s'abonner */
.infosPME_comments .p .a {
    color: #007bff;
    text-decoration: none;
}

.infosPME_comments .p .a:hover {
    text-decoration: none;
}

.btn-souley{
    display: flex;
    justify-content: center;
    
}
.comment-pme{
    width: 771px;
    height: 127px;
    resize: none;
    padding: 10px 15px; 
    margin: 5px;
    font-size: 16px; 
    outline: none;
    border: 2px solid #4fb97f; 
    color:black;
    background-color: white; 
    border-radius: 5px; 
    transition: border-color 0.3s ease;
}

.btn-souley2{
    background-color: #28a745;
}
div.rating-stars {
    display: flex;
    align-items: start;
    justify-content: start;
    margin:10px 0;
}
p{
    text-align: start;
}
h2.commentaires-title{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

div.commentaires{
    margin: 50px auto;
    width: 80%;
    height:50vh ;
    /* border:1px solid #007bff; */
    display: block;
    overflow-y: auto;
    
}
.comment1{
    /* border:1px solid black ; */
    width: 90%;
    height: auto;
    /* margin: 10px; */
    overflow-y: auto;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    
    
}
.comment2{
    /* border:1px solid black ; */
    width: 90%;
    height: auto;
    /* margin: 10px; */
    overflow-y: auto;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    
}
.comment3{
    /* border:1px solid black ; */
    width: 90%;
    height: auto;
    /* margin: 10px; */
    margin-right:5px ;
    overflow-y: auto;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.comment-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.commentaire1{
    display: flex;
    align-items: center;
    gap: 10px;
}

.rating-stars1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.date1{
    margin-right: 30px;
}
.rating-stars2{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.rating-stars3{
    display: flex;
    width: 100%;
    justify-content: space-between;
}




@media(max-width:900px){
   .infosPME{
    width: 100%;
    min-height: 100vh;
   } 
   .infosPME-Wrapper{
      width: 80%;
   }
   .infosPME_header {
    width: 80%;
    display: flex;
    flex-direction: column;
    }
    div.infosPME_header div.logo-pme-info{
        padding:15px;
    }
   .pme-info{
    padding: 20px;
   }
   .AbonnementBtn {
    display: flex;
}
.pme-description, .pme-zone, .pme-tarifs {
    font-size: 26px;
}

}

@media(max-width:475px){
       .infosPME-Wrapper{
          width: 100%;
          padding-top: 110px; 
       }
       .infosPME_header {
        width: 95%;
        }
}