.pme-card {
    width: 280px;
    height: 350px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    transition: box-shadow 0.3s, transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Assure que le footer reste en bas */
  }
  
  .pme-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }

  .pmeLogo{
    width: 100%;
    height: 100px;
    position: relative;
  }
  
  .card-logo {
    width:90%;
    height: auto;
    position: absolute;
  }
  
  .card-title {
    font-size: 1.6em;
    margin-bottom: 5px; /* Moins d'espace sous le titre */
    color: #222;
    font-weight: 600;
  }
  
  .card-description {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    overflow: hidden; /* Cache le texte débordant */
    text-overflow: ellipsis; /* Affiche les points de suspension pour le texte débordant */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limite le texte à deux lignes */
    -webkit-box-orient: vertical;
    margin-bottom: 10px; /* Espacement avant le footer */
  }
  
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto; /* S'assure que le footer se positionne en bas */
    margin: 0%;
  }
  
  .rating-stars {
    display: flex;
  }
  
  .card-button {
    margin-left: 10px;
  }
  
  .card-button button {
    background-color: #00804b;
    color: white;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .card-button button:hover {
    background-color: #fdb024;
  }  