.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    margin-bottom: 30px;
  }
  
  .loadingSpin{
    animation: spin 5s linear infinite;/* Animation de rotation*/
    width: 200px;
    height: auto;
  }
  
  /* Animation pour le spinner*/
  @keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
  }