

.conteneur {
  /* Conteneur principl pour la barre latérale et le navBar */
  display: flex;
  background-color: rgb(207, 207, 207);
  height: 100vh;
  width: 100%;
  /* position: fixed; */
  overflow: hidden;
  position: fixed;
}

.BarLateraleDashboard {
  /* Style de la barre latérale */
  background-color: var(--blanc);
  height: 100%;
  width: 170px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all .3s ease-in-out;
  overflow-y:scroll ;
}

/* Style sur les barres de scroll */
::-webkit-scrollbar{
  width: 0px;
  height: 100%;
}
::-webkit-scrollbar-track{
  background: var(--transparant);
}
::-webkit-scrollbar-thumb{
  background: var(--transparant);
}
::-webkit-scrollbar-thumb:hover{
  background: var(--transparant);
}


.nomApp {
  /* Nom et logo de l'application */
  width: 100%;
  height: 60px;
  padding: 25px;
}

.menuBarLaterale1, .menuBarLaterale2 {
  /* Style pour les sections du menu de la barre latérale */
  position: absolute;
  width: 100%;
}

.menuBarLaterale1 {
  top: 100px;
  transition: all .1s ease;
  transition-delay: .2s;
  overflow-x: hidden;
}

.menuBarLaterale2 {
  top: 430px;
  padding: 8px 0;
  overflow-x: hidden;
}

.menuBarLaterale1 li, .menuBarLaterale2 li {
  /* Style des éléments de la liste de menu */
  display: flex;
  gap: 5px;
  cursor: pointer;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.menuBarLaterale1 .liClass:first-child{
padding-right: 76px;
}

.menuBarLaterale1 li:hover, .menuBarLaterale2 li:hover {
transition: all .3s ease;
transform: translateX(5px);
}

.menuBarLaterale2 .liClass:first-child{
padding-right: 76px;
}

.menuBarLaterale1 .liClass, .menuBarLaterale2 .liClass {
  text-decoration: none;
  color: var(--noir);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 5px;
}

.menuBarLaterale1 .liClass:hover, .menuBarLaterale2 .liClass:hover {
  color: var(--vert);
}

.bx, .bx2 {
  /* Style pour les icônes */
  font-weight: bold;
  font-size: 20px;
  padding: 15px 0 15px 10px;
}
.menu-iconDashboard{
  display: none ;
}

.menuBarLaterale1 .active, .menuBarLaterale2 .active {
  /* Style des éléments actifs */
  background-color: rgb(207, 207, 207);
  color: var(--vert);
  position: relative;
}

.activespan {
  /* Barre verte à gauche des éléments de menu actifs */
  position: absolute;
  content: "";
  background-color: var(--vert);
  height: 50px;
  width: 5px;
  left: 0;
  top: 0;
}

.retour a, .retour a .bx {
  /* Style pour le li Retour dans la barre latérale */
  color: var(--rouge) !important;
}

.navBarDashboard {
  /* Style pour la barre de navigation */
  background-color: var(--blanc);
  box-shadow: 0px 0px 3px var(--blanc);
  width: 100%;
  height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2000;
}


.divNotification, .divProfil {
  /* Style pour les icônes de notification et de profil */
  position: absolute;
}

.divNotification {
  /* Style pour la div de notification */
  height: 30px;
  width: 30px;
  right: 100px;
}

.divNotification .bx {
  /* Style pour l'icon de notification */
  color: var(--noir);
  font-size: 25px;
  position: relative;
  right: 7px;
}

.divApp{
  padding: 6px;
  height: 95px;
  position: relative;
}

.LogoDiv{
  /* Style pour la div du logo de l'application */
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(171, 171, 171);
  cursor: pointer;
  position: absolute;
  top: 17px;
  left: 40px;
}

.logoApp{
  /* Style pour le logo de l'application */
  border-radius:100% ;
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.nomApp{
  /* Style pour le nom de l'application */
  position: absolute;
  top:60px;
  left: 0;
  width: 100%;
  padding: 10px;
  line-height: 13px;
}

.divImage {
/* Style pour la div contenant la photo de profil */
position: absolute;
top: 11px;
width: 60px;
height: 60px;
right: 40px;
border-radius: 50%;
border: 1px solid rgb(171, 171, 171);
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
cursor: pointer;
}

.imageProfil {
/* Style pour l'image de profil */
width: 100%;
height: 100%;
object-fit: contain; /* Cela garantit que l'image couvre tout en restant proportionnée */
border-radius: 50%;
}

.divVoirInfoProfil {
  height: 330px;
  width: 220px;
  background-color: #ffffff; /* Couleur de fond blanche pour un look propre */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre pour donner de la profondeur */
  /* border-radius: 10px 0px 0px 10px;  */
  z-index: 300;
  position: absolute;
  top: 60px;
  right: -220px;
  overflow-y: auto;
  transition: right 1s ease; /* Animation fluide pour l'apparition */
  font-family: 'Arial', sans-serif; /* Police élégante */
}

.affInfoProfil {
  right: 0px !important; /* Légèrement à droite pour ne pas toucher le bord */
}

.divVoirInfoProfil ul {
  list-style-type: none; /* Supprimer les puces par défaut */
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

.divVoirInfoProfil ul:last-child{
  position: relative;
  top: 150px;
  left: 0;
  right: 0;
}
.divVoirInfoProfil ul li {
padding-left: 10px;
background-color: #ffffff; /* Couleur de fond des éléments li */
transition: background-color 0.3s ease, transform 0.3s ease; /* Transition douce pour le hover et l'animation */
border-bottom: 1px solid #f0f0f0; /* Ligne de séparation subtile */
display: flex;
align-items: center; /* Alignement des icônes et du texte */
height: 50px; /* Hauteur fixe pour tous les li */
box-sizing: border-box; /* Pour inclure le padding dans la hauteur totale */
text-decoration: none;
width: 100%;
}


.divVoirInfoProfil ul li:first-child {
position: relative;
height: 50px; /* Assurez-vous que la première `li` a la même hauteur */
}

.divVoirInfoProfil ul li:hover {
background-color: #e0e0e0; /* Couleur de fond au survol */
cursor: pointer; /* Changer le curseur au survol */
transform: translateX(5px); /* Légère animation de translation */
}

.divVoirInfoProfil ul li i {
margin: 0 3px 0 0;
padding: 0;
}

.divVoirInfoProfil ul li a {
  text-decoration: none;
  color: var(--noir);
  padding: 20px 0 20px 0;
  width: 100%;
}

@keyframes voirdivInfoProfil {
0% {
    right: -220px;
}
100% {
    right: 0px;
}
}

.contentFilsDashboard {
  /* Styliser le conteneur des fichiers filles */
  position: absolute;
  height: calc(100vh - 50px);
  top: 80px;
  transition: all .3s ease-in-out;
  left: 150px;
  width: 90%;
  overflow: hidden;
  padding-right: 20px;
}

.abonneDivConteneur {
  max-height: 520px; 
  overflow-y: auto;
}

.abonnesConteneur{
  /* Styliser le conteneur pour le tableau des abonnés */
  background-color: var(--blanc);
  padding: 20px;
  margin: 20px;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.formulaireRechercheAbonnes {
  /* Styliser le formulaire de recherche */
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  position: relative;
}

.txtRechercherAbonne {
  /* Style pour l'input text */
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid var(--grisclair);
  border-radius: 5px;
  font-size: 16px;
  color: var(--noir);
  background-color: var(--blanc);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.txtRechercherAbonne:focus {
  border-color: var(--bleu)!important;
  box-shadow: 0 0 10px rgba(14, 80, 160, 0.2);
  outline: none;
}

.txtRechercherAbonne::placeholder {
  color: var(--grisclair);
  font-style: italic;
}

.txtRechercherAbonne:valid {
  border-color: var(--vert);
}

.txtRechercherAbonne:invalid {
  border-color: var(--rouge);
}

.txtRechercherAbonne:hover {
  border-color: rgb(169, 168, 168);
  box-shadow: 3px 1px 3px var(--gris);
}


.divDonnes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  overflow-y: auto;
  max-height: 400px;
  overflow-y: scroll;
}
.abonneNonTrouve{
  padding: 10px;
  text-align: center;
  grid-column: span 2;
}
.donnees {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px; 
  width: 300px;
  height: 270px;
  margin: 15px; 
  box-shadow: 2px 4px 1px rgba(0, 0, 0, 0.1); 
  text-align: center; 
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divImageProfil img {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  border: 2px solid var(--bleuclair);
  object-fit: contain; 
  margin: 10px 10px 0 10px;
}

.donnees p {
  font-size: 1.1em; 
  color: #333; 
  margin: 3px 0;
  font-weight: bold; 
}

.donnees address {
  font-style: normal; 
  color: #555; 
  margin: 3px 0; 
}

.donnees p:first-of-type {
  font-size: 1.2em; 
  color: var(--bleuclair);
}

.donnees p:last-of-type {
  font-size: 1em; 
  color: #777;
}

.donnees p, .donnees address {
  transition: all 0.3s ease; 
}

.divBtnDetails{
  border: none;
  position: absolute;
  display: flex;
  bottom: 20px;
  color: var(--blanc);
  border-radius: 10px;
  margin-top: 5px;
  width: 80%;
  height: 30px;
  cursor: pointer;
}

.btnDetails, .btnAnnulerAbonnement{
  border: none;
  width: 100%;
  bottom: 20px;
  color: var(--blanc);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  height: 100%;
}
.btnDetails:hover{
  background-color: var(--bleuclair);
  transition: all .2s ease-in-out;
}
.btnDetails{
  background-color: var(--vert);
}

.btnAnnulerAbonnement{
  background-color: var(--rouge);
}
.btnAnnulerAbonnement:hover{
  background-color: var(--bleuclair);
  transition: all .2s ease-in-out;
  /* font-weight: bold; */
}

.divNombreAbonnementEnAttenteDashboard{
  background-color: rgb(217, 38, 38);
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;top: 10px;
  left: -25px;
  color: white;
}
.pNombreAbonnementEnAttenteDashboard{
  font-size: 10px;
}

@media (min-width:1250px){
  .divDonnes {
    display: flex!important;
    flex-wrap: wrap;
    position: relative;
    justify-content: start;
    left: -10px;
  }
  .donnees {
    flex: 1 1 calc(25%);
    margin: 5px;
    max-width: 230px!important;
  }
  
  .abonnesConteneur{
    width: 96%!important;
  }
}

@media (min-width:1023px){
  .abonnesConteneur{
    width: 92%;
  }
  .divDonnes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 0;
    overflow-y: auto;
    max-height: 400px;
    overflow-y: scroll;
    margin-left: 45px!important;
}
}
@media (max-width:908px){
  .divDonnes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contentFilsDashboard{
    left: 40px;
    position: fixed;
    width: 97.5%;
  }
  .divDonnes{
    gap: 0px;
    /* position: relative;
    left: -6px; */
    overflow-x: hidden;
  }
  .BarLateraleDashboard{
    width: 55px;
    position: fixed;
    z-index: 5000;
  }
  .menuBarLaterale1 .liClass:first-child, .menuBarLaterale2 .liClass:first-child {
    padding-left: 20px;
  }
  .menuBarLaterale1 .liClass, .menuBarLaterale2 .liClass{
    color: var(--transparant)!important;
  }
  .menuBarLaterale1 li i, .menuBarLaterale2 li i {
    color: var(--noir);
    opacity: 1;
  }
  .nomApp{
    display: none;
  }
}

@media (max-width: 600px) {
  .BarLaterale .nomApp {
      display: block;
  }
  .BarLateraleDashboard {
      width: 50px !important;
      overflow-x: hidden;
  }
  .ouvrirBarLateraleDashboard {
    transition: left .3s ease-in-out;
  }
  .active {
      position: relative;
  }
  .menuBarLaterale1 .liClass, .menuBarLaterale2 .liClass{
      color: var(--transparant)!important;
  }

  .menuBarLaterale1 .liClass:hover, .menuBarLaterale2 .liClass:hover {
      color: var(--transparant);
  }
  
  .menuBarLaterale1 li i, .menuBarLaterale2 li i {
      color: var(--noir);
      opacity: 1;
  }
  .menuBarLaterale1 li i:hover, .menuBarLaterale2 li i:hover {
      color: var(--vert);
  }

  
  .LogoDiv{
      position: absolute;
      left: 4px;
  }

  .active i {
      color: var(--vert) !important;
  }
  /* .contentFilsDashboard {
      width: calc(100% - 25px);
      height: 100%;
  } */
  
  /* Assure que l'icône reste visible */
  .retour .liClass i {
      z-index: 1;
      font-size: 20px; 
      color: var(--rouge); 
  }
  
  /* Assure que l'élément "Retour" est toujours visible */
  .retour {
      color: var(--rouge); 
  }

  .retour a .bx {
      opacity: 1;
      color:  var(--transparant); /* Assure que l'icône est de la bonne couleur */
  }
  .donnees {
    max-width: 100%; /* Adapter la largeur sur mobile */
    padding: 15px; /* Réduire le padding sur mobile */
    margin: 0px; 
  }

  .divImageProfil img {
    width: 80px; /* Réduire la taille de l'image sur mobile */
    height: 80px; /* Réduire la taille de l'image sur mobile */
  }

  .donnees p:first-of-type {
    font-size: 1.1em; /* Ajuster la taille de police pour le nom sur mobile */
  }
  
}

@media(max-width: 500px) {
  /* Masquer la barre latérale du tableau de bord */
  .ouvrirBarLateraleDashboard {
    left: -55px; /* Position fermée (cachée) */
    position: absolute;
    transition: left 1s ease-in-out; /* Transition animée */
  }
  /* .contentFilsDashboard{
    left: 45px;
    width: 89%;
    overflow: hidden;
    padding-right: 20px;
  } */
  /* .contentFilsDashboard2{
    left: 0px!important;
    width: 100%;
    padding-right: 20px ;
  } */
   
  .contentFilsDashboard{
    left: 40px;
  }

  .diviconNotificationNavBarDashboard{
    top: 32px!important;
  }
  .iconNotificationNavBarDashboard{
    top: -15px!important;
  }

  /* Conteneur des abonnés : largeur à 95% et position fixe */
  .abonnesConteneur {
    width: 90% !important;
    position: relative;
    left: 0px; /* Aligne à gauche */
    z-index: 9999;
  }
  /* .contentFilsDashboard2{
    width: 100% !important;
  } */
  .divDonnes{
    display: flex;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    gap: 20px ;
  }

  /* Icône du menu : affichage et style */
  .menu-iconDashboard {
    display: block;
    padding: 10px;
    cursor: pointer;
    position: relative;
    top: 2px;
  }

  /* Nom de l'application masqué */
  .nomApp {
    display: none;
  }
  .donnees{
    width: 260px;
  }
  .divNombreAbonnementEnAttenteDashboard{
    left: -111px;
    top: 0;
    display: flex;
  }
}
















.divContainer {
  overflow: auto;
}

/* Pour Styliser le popup */
.abonnesConteneur.blurBackground .divDonnes,
.abonnesConteneur.blurBackground .divRechercher {
filter: blur(5px);
transition: filter 0.3s ease;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--blanc);
  border: 1px solid #ccc;
  z-index: 1000;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.popupContent {
  position: relative;
  height: 100%;
  width: 100%;
}

/* Style général des paragraphes dans le popup */
.popupContent p {
  font-size: 14px;
  line-height: 1.1; 
  color: #333;
  margin-bottom: 10px; 
  padding: 3px 0; 
  /* border-bottom: 1px solid #e0e0e0;  */
  text-align: left; 
}

/* Style spécifique pour les labels dans les paragraphes */
.popupContent p span.label {
  font-weight: bold;
  color: var(--bleuclair);
  margin-right: 5px;
}


.detailsImage {
  height: 80px;
  width: 80px;
  margin: 0 auto; 
  border-radius: 50%; 
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease; 
  margin-bottom: 10px;
}

.detailsImage img {
  height: 100%;
  width: 100%;
  object-fit: cover; 
}

.detailsImage:hover {
  transform: scale(1.1); 
}

.closePopup {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 24px;
  color: var(--blanc); /* Rouge pour un bouton de fermeture classique */
  background-color: var(--rouge);
  border: 2px solid var(--rouge);
  border-radius: 50%; /* Pour un effet circulaire */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Effet de transition */
}

.closePopup:hover {
  color: var(--rouge);
  background-color: var(--blanc);
  transform: scale(1.1); /* Agrandit légèrement au survol */
}

.divBtnVoirEnvoyer{
  display: flex;
  gap: 10px;
}

.voirCommentaire, .envoyeCommentaire{
  background-color: var(--vert);
  border: none;
  color: var(--blanc);
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 5px;
  /* width: 80%; */
  cursor: pointer;
}
.voirCommentaire{
  width: 40%;
}
.envoyeCommentaire{
  width: 60%;
}

.voirCommentaire:hover, .envoyeCommentaire:hover{
  background-color: var(--bleuclair);
}

.popupCommentaireAbonnee{
  height: 355px;
  position: absolute;
  left: 43.5%;
  top: 46%;
}
.popupContent .textareaEcrireCommentaire{
  width: 100%;
  height: 180px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1rem;
  resize: none;
}

.btnEnvoyerCommentaire{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin: 5px;
  transition: background-color 0.3s;
}

.btnEnvoyerCommentaire:hover{
  background-color: #0056b3;
}
.commentsList{
  height: 200px;
  /* background-color: red; */
  padding: 5px;
  overflow-y: auto;
  max-height: 200px ;
  border: 1px solid lightgray;
}
.commentsList p{
  width: 100%;
  line-height: 1;
  margin-bottom: 5px;
  word-wrap: break-word;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}
.h4commentaire{
  padding-bottom: 10px;
}
.chargementMessageAbonnes {
  text-align: center;
  font-size: 1.2em;
  color: #6c757d; 
  width: 100%!important;
  position: relative;
  left: 100%;
}
